<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookies!</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

<div id="popup" class="pop-up-window">
    <h2>Вы уверены, сто хотите сохранить?</h2>
    <span class="close">&times;</span>
</div>

<div id="main" class="main-container">
    <div>
        <button onclick="location.href='products/list'">List of products</button>
        <button onclick="location.href='products/new'">Add product</button>
        <button onclick="www()">Test</button>
        <button id="popButton">Popup</button>
    </div>
</div>

</body>

<script>
    function www() {
        alert("HELP");
    }

    let popup = document.getElementById('popup');
    let pop = document.getElementById('popButton');
    let popupClose = document.querySelector('.close');

    pop.onclick = function () {
        popup.style.display = "block";
    };
    popupClose.onclick = function () {
        popup.style.display = "none";
    };
</script>

</html>