<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cookies!</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css"/>
</head>

<body>

<div id="popup" class="pop-up-window">
    <h2>Вы уверены, сто хотите сохранить?</h2>
    <span class="close">&times;</span>
</div>

<div id="main" class="main-container">
    <div>
        <button onclick="location.href='/list'">List of products</button>
        <button onclick="location.href='/add'">Add product</button>
        <button onclick="www()">Test</button>
        <button id="popButton">Popup</button>
    </div>
</div>

</body>

<script>
    function www() {
        let container = document.getElementById('main');
        container.style.width = '55px'
        alert("HELP");
    }

    let popup = document.getElementById('popup');
    let pop = document.getElementById('popButton');
    let popupClose = document.querySelector('.close');

    pop.onclick = function () {
        popup.style.display = "block";
    };
    popupClose.onclick = function () {
        popup.style.display = "none";
    };
</script>

</html>