<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="header">
    <div class="navigation">
        <button><a th:href="@{/products/new}">Add Product</a></button>
        <button>My Orders</button>
    </div>
</div>
<div class="main-container">
    <div class="table-container">
        <table class="product-table">
            <tr>
                <td>Id</td>
                <td>Код</td>
                <td>Название</td>
                <td>Цена</td>
                <td>Ссылка</td>
                <td>Категория</td>
            </tr>
            <tr th:each="product : ${products}">
                <th scope="row" th:text="${product.id}"></th>
                <td th:text="${product.code}"></td>
                <td th:text="${product.title}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.url}"></td>
                <td th:text="${product.categoryDto.title}"></td>
                <td>
                    <button><a th:href="@{/products/{id}(id = ${product.id})}">Редактировать</a></button>
                    <form th:method="delete" th:action="@{/products/{id}(id = ${product.id})}">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
        </table>
        </tr>
    </div>
</div>
<div class="footer">
    <h2>Подвал</h2>
</div>
</body>
</html>